__pycache__
__pycache__/
*.pyc
.pytest_cache
*secrets*
*.pyd
*.c
dvoc_model.egg-info
build
*.so
dist
*.html
.cache
.eggs

# test and coverage
.tox
.coverage

# Sphinx documentation
docs/_build/

# Jupyter notebook artifacts
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Virtual Environments
venv-*

# OSX .DS_Store
.DS_Store
*/.DS_Store

# Emacs backup files
*~
